<!DOCTYPE html>
<html>

<head>
    <title>Bingo Host</title>
    <style>
        td.marked { background: yellow; }
    </style>
    <link rel="icon" href="data:,">
</head>

<body>

<h1>Bingo Host</h1>

<div id="currentNumber"
     style="
       font-size: 40px;
       font-weight: bold;
     ">
    ---
</div>

Called numbers: <div id="history"> --- </div>

<input id="numberInput" type="text" placeholder="Enter number">

<button id="previewButton">
    Preview
</button>

<div id="preview"></div>

<div id="gameStatus">Game Status: SETUP</div>

<p>
WebSocket Status:
<span id="status">Disconnected</span>
</p>

<button id="broadcastButton" disabled>
    Broadcast
</button>

<button id="setupNewGameButton">
    Setup New Game
</button>

<button id="startGameButton">
    Start Game
</button>

<button id="gameOverButton">
    Game Over
</button>

<div id="hostBoard"></div>

<script>

let pendingNumber = null;
const socket = new WebSocket("ws://127.0.0.1:8000/ws");

socket.onmessage = function(event) {
    const data = JSON.parse(event.data);
    console.log("Received message from socket: ", JSON.stringify(data, null, 2));
    if (data.type === "reconnected") {
        console.log("Reconnect successful");
    }
    else if (data.type === "reconnect_failed") {
        localStorage.removeItem("player_id");
        window.location.href = "/";
    }
    else if (data.type === "history") {
        console.log("History:", data.called_numbers);
        const container = document.getElementById("hostBoard");
        container.innerHTML="";
        drawHostBoard(data.called_numbers);
        const container2 = document.getElementById("history");
        container2.innerText = data.called_numbers;
    }
    else if (data.type === "number_called") {
        document.getElementById("currentNumber").textContent =
            data.number;
    }
    else if (data.type === "new_game") {
        document.getElementById("currentNumber").textContent = "---";
    }
    else if (data.type === "game_started") {
        print("game_started")
        // TODO: What needs to be done here?  Disable / enable some buttons (Preview, Broadcast)?
    }
    else if (data.type === "game_status") {
        console.log("game_status: game status is now " + data.status)
        // TODO:  Print the status on the screen.  Conditionally disable/enable buttons??
        document.getElementById("gameStatus").textContent = "Game Status: "+data.status;
    }
    else if (data.type === "action_rejected") {
        alert(data.action + ": " + data.reason)
    }
    else if (data.type === "winner") {
        console.log("WINNER!", data.winners);
        // alert("BINGO!");
        handle_winners(data.winners);
    } 
}

function drawHostBoard(called_numbers) {
  const container = document.getElementById("hostBoard");
  if (called_numbers == null || called_numbers.length == 0) {
    container.innerHTML = ""
    return
  }
  let html = "";
  html += "<table>";

  html += "<tr>";
  html += "<th>B</th><th>I</th><th>N</th><th>G</th><th>O</th>";
  html += "</tr>";

  for (let row = 1; row <= 15; row++) {
    html += "<tr>";
    html += `<td id="cell-B${row}" >${row}</td>`;
    html += `<td id="cell-I${row + 15}">${row + 15}</td>`;
    html += `<td id="cell-N${row + 30}">${row + 30}</td>`;
    html += `<td id="cell-G${row + 45}">${row + 45}</td>`;
    html += `<td id="cell-O${row + 60}">${row + 60}</td>`;
    html += "</tr>";
  }

  html += "</table>";
  container.innerHTML = html;

  // Mark called cells
  for (const call of called_numbers) {
    // call like "B3" or "O71"
    const letter = call[0];              // "B" or "O"
    const num = call.slice(1);          // "3" or "71"
    const cell = document.getElementById(`cell-${letter}${num}`);
    if (cell) cell.classList.add("marked");
  }
}

function handle_winners(winners) {
    str = "The following card(s) have BINGO:\n";
    for (const winner of winners) {
        str += winner.display_name + " ";
        str += winner.card_id + "\n";
    }
    alert(str);
}


document.getElementById("previewButton").onclick = function() {
    const value =
        document.getElementById("numberInput").value;
    /*
       For now we duplicate the simple
       canonicalization rule in JavaScript.
       Later we will move this entirely
       to the server.
    */
    if (value === "52") {
        pendingNumber = "G52";
    } else {
        pendingNumber = value.toUpperCase();
    }
    document.getElementById("preview").textContent =
        "Ready to broadcast: " + pendingNumber;
    document.getElementById("broadcastButton").disabled = false;
};

socket.onopen = function() {
    console.log("Host connected");
    document.getElementById("status").innerText = "Connected";
    console.log("Requesting game status");
    socket.send(JSON.stringify({
        type: "request_game_status"
    }));
};

socket.onclose = function(event) {
    console.log("WebSocket closed", event);
};

document.getElementById("broadcastButton").onclick = function() {
    const message = {
        type: "submit_number",
        value: pendingNumber
    };
    socket.send(JSON.stringify(message));
};

document.getElementById("setupNewGameButton").onclick = function() {
    console.log("setupNewGameButton: sending setup_new_game");
    const message = {
        type: "setup_new_game",
    };
    // Debug:  The readyState values are
    // 0 = CONNECTING
    // 1 = OPEN ✅
    // 2 = CLOSING
    // 3 = CLOSED
    console.log("setupNewGameButton: readyState=", socket.readyState);
    try {
        console.log("setupNewGameButton: about to send msg: "+message);
        socket.send(JSON.stringify(message));
        console.log("setupNewGameButton: send completed");
    }
    catch (e) {
        console.log("send failed: ", e)
    }
}

document.getElementById("startGameButton").onclick = function() {
    const message = {
        type: "start_game",
    };
    socket.send(JSON.stringify(message));
}

document.getElementById("gameOverButton").onclick = function() {
    const message = {
        type: "game_over",
    };
    socket.send(JSON.stringify(message));
}

</script>

</body>

</html>