<!DOCTYPE html>
<html>
    <head>
        <title>
            Join a bingo game
        </title>
        <link rel="icon" href="data:,">
    </head>
    <body>
        <h1>Join Bingo Game</h1>

        <input id="displayName" placeholder="Your name">

        <button id="joinButton">
            Join
        </button>

        <div id="errorMessage"></div>
        <div id="gameStatus">Game Status: Connecting...</div>
<p>
WebSocket Status:
<span id="status">Disconnected</span>
</p>

        <script>
            const socket = new WebSocket(
                "ws://127.0.0.1:8000/ws"
            );

            document.getElementById("joinButton").onclick = function() {
                console.log("Join button clicked");
                const message = {
                    type: "join",
                    display_name:
                        document.getElementById("displayName").value
                };
                console.log(message);
                socket.send(JSON.stringify(message));
            };            

            socket.onopen = function() {
                console.log("WebSocket connected");
                console.log("Requesting game status");
                socket.send(JSON.stringify({
                    type: "request_game_status"
                }));
            }

            socket.onclose = function() {
                document.getElementById("errorMessage").innerText =
                    "Server connection lost. Please reload.";
            };

            socket.onmessage = function(event) {

                const data = JSON.parse(event.data);

                if (data.type === "joined") {

                    localStorage.setItem(
                        "player_id",
                        data.player_id
                    );

                    window.location.href = "/player";
                }
                else if (data.type === "action_rejected") {
                    document.getElementById("errorMessage").innerText =
                        "ERROR: " + data.reason;
                }
                else if (data.type === "game_status") {
                    document.getElementById("gameStatus").innerText =
                        "Game Status: "+data.status;
                        //TODO: disable / enable anything?
                }

            };            
        </script>
    </body>
</html>