<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="data:,">
        <style>
            table {
                border-collapse: collapse;
            }

            td {

                width: 50px;
                height: 50px;

                border: 1px solid black;

                text-align: center;

                font-size: 24px;
            }

            .marked {

                background-color: yellow;
                font-weight: bold;
            }

        </style> 
    </head>
<body>

<h1>Bingo Player</h1>

        <button id="leaveGameButton">
            Leave Game
        </button>
        <button id="testCard1">Load test card 1</button>
        <button id="testCard2">Load test card 2</button>
        <button id="testCard3">Load test card 3</button>
        <button id="disposeCards">Dispose of current cards</button>
        <button id="startFresh">Start fresh, forget previous session</button>
<p>
WebSocket Status:
<span id="status">Disconnected</span>
</p>
Game Status: <div id="gameStatus">Connecting...</div>
<p>Called Numbers: <span id="calledNumbers"></span></p>

<div id="currentNumber"
     style="
       font-size: 80px;
       font-weight: bold;
     ">
    ---
</div>

<div id="card"></div>


<script>

const socket = new WebSocket("ws://127.0.0.1:8000/ws");

socket.onopen = function() {
    console.log("Player socket connected");
    const player_id = localStorage.getItem("player_id");
    socket.send(JSON.stringify({
        type: "reconnect",
        player_id: player_id
    }));
    document.getElementById("status").textContent = "Connected";
    console.log("Requesting game status");
    socket.send(JSON.stringify({
        type: "request_game_status"
    }));
};

socket.onclose = function() {
    console.log("Join WebSocket closed");
    document.getElementById("status").textContent = "Disconnected";
    console.log("onclose: Do I need to wipe out the cache and redirect?");
};

socket.onmessage = function(event) {
    const data = JSON.parse(event.data);
    if (data.type === "reconnected") {
        console.log("Reconnect successful");
    }
    else if (data.type === "reconnect_failed") {
        localStorage.removeItem("player_id");
        window.location.href = "/join";
    }
    else if (data.type === "number_called") {
        document.getElementById("currentNumber").textContent =
            data.number;
    }
    else if (data.type === "history") {
        console.log("History:", data.called_numbers);
        document.getElementById("calledNumbers").textContent= data.called_numbers;
    }
    else if (data.type === "winner") {
        console.log("WINNER!", data.winners);
        alert("BINGO!");
    } 
    // TODO:  Change "card" to "cards"
    else if (data.type === "card") {
        console.log("Received card:", data.card);
        draw_card(data.card)
    }
    else if (data.type === "card_update") {
        console.log("Updated card: ", data.card);
        draw_card(data.card)
    }
    else if (data.type === "left") {
        console.log("Received 'left' message, shutting down..")
        localStorage.removeItem("player_id");
        socket.close();
        window.location.href = "/join";
    }
    else if (data.type === "new_game") {
        console.log("new_game");
        document.getElementById("currentNumber").textContent = "---";
        document.getElementById("calledNumbers").textContent= "";
        draw_card( [] )
    }
    else if (data.type === "game_status") {
        document.getElementById("gameStatus").innerText =
            "Game Status: "+data.status;
            //TODO: disable / enable anything?
            // Update our status monitor
            document.getElementById("gameStatus").innerText=data.status;
    }
    else if (data.type === "action_rejected") {
        alert(data.action + ": " + data.reason)
    }

};


document.getElementById("leaveGameButton").onclick = function() {
    console.log("Pressed leaveGameButton, sending 'leave' msg to server.")
    const player_id = localStorage.getItem("player_id");
    socket.send(JSON.stringify({
        type: "leave",
        player_id: player_id
    }));
}

document.getElementById("disposeCards").onclick = function() {
    console.log("pressed disposeCards")
    const player_id = localStorage.getItem("player_id");
    socket.send(JSON.stringify({
        type: "dispose_cards",
        player_id: player_id,
    }));
}

document.getElementById("startFresh").onclick = function() {
    console.log("pressed startFresh");
    localStorage.removeItem("player_id");
    window.location.href = "/join";
}


// TODO: These test-card handlers go away when we add OCR scanning.
document.getElementById("testCard1").onclick = function() {
    console.log("pressed load test card 1")
    const player_id = localStorage.getItem("player_id");
    socket.send(JSON.stringify({
        type: "load_test_card",
        player_id: player_id,
        number: "1"
    }));
}
document.getElementById("testCard2").onclick = function() {
    console.log("pressed load test card 2")
    const player_id = localStorage.getItem("player_id");
    socket.send(JSON.stringify({
        type: "load_test_card",
        player_id: player_id,
        number: "2"
    }));
}
document.getElementById("testCard3").onclick = function() {
    console.log("pressed load test card 3")
    const player_id = localStorage.getItem("player_id");
    socket.send(JSON.stringify({
        type: "load_test_card",
        player_id: player_id,
        number: "3"
    }));
}


// TODO: handle multiple tables.
function draw_card(card) {
    const container = document.getElementById("card");
    if (card==null || card.length == 0) {
        container.innerHTML = "<p>No cards loaded.</p>";
        return;
    }

    let html = "";
    html += "<table>";

    html += "<tr>";
    html += "<th>B</th>";
    html += "<th>I</th>";
    html += "<th>N</th>";
    html += "<th>G</th>";
    html += "<th>O</th>";
    html += "</tr>";

        for (let row = 0; row < 5; row++) {
        html += "<tr>";
        for (let col = 0; col < 5; col++) {
            // If cell is Marked, attach "marked" class for CSS.
            if (card.marked[row][col]) {
                html += '<td class="marked">';
            }
            else {
                html += "<td>";
            }
            html += card.grid[row][col];
            html += "</td>";
        }
        html += "</tr>";
    }
    html += "</table>";

    container.innerHTML = html;
}

</script>

</body>
</html>
